@mymap:registry=https://gitlab.mymap.online/api/v4/packages/npm/
//gitlab.mymap.online/api/v4/packages/npm/:_authToken="9aYrk_fhywu9UL42vMbJ"
//gitlab.mymap.online/api/v4/projects/:_authToken="9aYrk_fhywu9UL42vMbJ"
